<footer>
<p class="text-center text-muted" style="width: 1000px;">
<b>About the GPII PIC-Tool</b>
<br/>
<br/>
The  Pre-meeting In-Meeting Consensus Tool  (PIC-Tool)  is a survey tool that can facilitate participation by all, speed up meetings, and increase productivity by gathering everyone’s input and thoughts prior to the meeting.  Since everyone can see everyone else’s comments as the write their own — issues raised can be addressed or suggestions made before the meeting.  Everyone has a level playing field for commenting - even if slower or shyer.  At the meeting - things that everyone agrees on can be handled in one consensus call at the start of the meeting. Those things that were resolved through comments and edits can be dispatched quickly next. The meeting can then focus on things where there is a need for more discussion. 
<br/>
<br/>
The PIC-Tool can also be used for other types of asynchronous surveys since it can be configured to show, or not show, the results of others taking the survey (both when they are taking it and when they are done). 
<br/>
<br/>
<b>How to use the PIC-Tool</b>
<ol type="1">
<li>
If you do not have an account - create one
</li>
<li>
Once you have an account - you can create surveys and send them to anyone else to take.
<ol type="a">
<li>
There are multiple options for configuring the surveys
</li>
</ol>
</li>
<li>
You can invite others to take your survey by
<ol type="a">
<li>
Including their email in a comma delimited list of survey takers
</li>
<li>
Sending people the id and password of the survey so they can sign up from their account
</li>
<li>
Using a static link invitation that can be sent to a listserve or otherwise distributed. Anyone with the link can then take the survey.
</li>
</ol>
</li>
<li>
Users can sign back in at any time and review the survey and change their answers up to the close date of the survey
</li>
</ol>
</p>
</footer>